#root {
  /* min-height: 100vh; */
  margin: 0;
  padding: 0;
}


body {
  background: radial-gradient(circle at top, rgba(128, 0, 255, 0.6) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 1) 100%), 
  radial-gradient(circle at top, rgba(30, 30, 60, 0.4), rgba(0, 0, 0, 0.8));
background-color: black;
color: white;
  margin: 0;
  padding: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


